<h1>Home</h1>
<p>You're logged in with Angular 7 & JWT!!</p>
<div>
    Users from secure api end point:
    <br><br>
    <ul>
        <li *ngFor="let user of users">{{ user.email }}</li>
    </ul>
</div>